<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-center my-4 offset-6">Search:</h3>
      <form
        [formGroup]="weatherSearchForm"
        (ngSubmit)="getWeather()"
      >
        <div class="form-group offset-6">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Please input a Location"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-md offset-6">
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card weather-card mt-4 w-25 offset-4" *ngIf="weather">
    <div class="card-body pb-3">
      <h5 class="card-title font-weight-bold">
        {{ weather?.location.name }}
      </h5>
      <p class="card-text">
        {{ weather?.current.weather_descriptions }}
      </p>
      <div class="d-flex justify-content-around">
        <p class="display-1 degree">{{ weather?.current.temperature }}</p>
        <img class="rounded mt-2" style="width: 90px; height: 90px;" [src]="weather?.current.weather_icons[0]">
      </div>

    </div>
